<? $subject or die(); ?>
<!DOCTYPE html>
<html lang="en">
  	<head>

	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Perfect Class Scheduler</title>
	    <link href="css/bootstrap.min.css" rel="stylesheet">
	    <link href="css/mystyle.css" rel="stylesheet">

	    <link href='fullcalendar-2.2.7/fullcalendar.css' rel='stylesheet' />
		<link href='fullcalendar-2.2.7/fullcalendar.print.css' rel='stylesheet' media='print' />
		

  	</head>
	<body>

	  	<h1><center>Perfect Class Scheduler!</center></h1>
		
		<div class = "well">
		<h3>Input your classes:</h3>
		<div id = "courseSelector">

			<div id = "course0">
				<select class = "subjectListSelect" id="subjectListSelect0">
					<option value="NULL">Subject</option>
					<?php foreach ($subject as $s) { ?>
						<option value="<?=$s->SubjectName?>"><?=$s->SubjectName?></option>
					<?php } ?>
				</select>

				<div id="courseList0"></div>
				<br>
			</div>

		</div>
		<div class="btn-group">
			<button type ="button" id ="addClass" class="btn btn-default">Add a class</button>
		</div>
		</div>

		<br>

		<div class="well">
		<h3>Input your preferences:</h3>
			<div id = "preferences">
				<div class="input-group">
					<input type="text" id = "startTime" placeholder="Start time e.g. 10:45 AM">
				</div>

				<br>

				<div class="input-group">
					<input type="text" id = "endTime" placeholder="End time e.g. 3:50 PM">
				</div>

				<br>

				What days would you like off?

				<br>

				Monday: <input type="checkbox" id="mondayCheckBox">  |  
				Tuesday: <input type="checkbox" id="tuesdayCheckBox">  |  
				Wednesday: <input type="checkbox" id="wednesdayCheckBox">  |  
				Thursday: <input type="checkbox" id="thursdayCheckBox">  |  
				Friday: <input type="checkbox" id="fridayCheckBox">
			</div>

			<br>

			<div class="btn-group">
				<button type ="button" id ="submitClasses" class="btn btn-default">Submit</button>
			</div>

		</div>

		<br>

		<div class="well">
			<div id = "results"></div>
		</div>

		<div id = "calendar"></div>

	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>

		<script src='fullcalendar-2.2.7/lib/moment.min.js'></script>
		<script src='fullcalendar-2.2.7/fullcalendar.min.js'></script>
		<script src="js/gentle_anchors_1.2.5-min.js"></script>
		<script src="views/CourseAdder.js"></script>
	</body>
</html>